.message {
    display: flex;
    gap: 0.5rem;
    max-width: 70%;
    margin-top: 0.5rem;
}

.MessageSentByMe {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
    max-width: 70%;
    margin-top: 0.5rem;
}

.image {
    object-fit: contain;
    width: 2.5rem;
    border-radius: 0.5rem;
}
